@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bibliothèque Web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/signup-form.css" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="signup-form-container">
            <!-- form start -->
            <form method="post" role="form" id="register-form" autocomplete="off" asp-controller="Home" asp-action="Index">

                <div class="form-header">
                    <h3 class="form-title"><i class="fa fa-user"></i>Se Connecter</h3>

                    <div class="pull-right">
                        <h3 class="form-title"><span class="glyphicon glyphicon-pencil"></span></h3>
                    </div>

                </div>

                <div class="form-body">

                    <div class="alert alert-info" id="message" style="display:none;">
                        submitted
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                            <input name="name" type="text" class="form-control" placeholder="Nom d'utilisateur" />
                        </div>
                        <span class="help-block" id="error"></span>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                            <input name="email" type="text" class="form-control" placeholder="E-mail" />
                        </div>
                        <span class="help-block" id="error"></span>
                    </div>

                    <div class="row">

                        <div class="form-group col-lg-6">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                <input name="password" id="password" type="password" class="form-control" placeholder="Mot de passe" />
                            </div>
                            <span class="help-block" id="error"></span>
                        </div>

                        <div class="form-group col-lg-6">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                <input name="cpassword" type="password" class="form-control" placeholder="confirmer Mot de passe" />
                            </div>
                            <span class="help-block" id="error"></span>
                        </div>

                    </div>


                </div>

                <div class="form-footer">
                    <button type="submit" class="btn btn-info">
                        <span class="glyphicon glyphicon-log-in"></span> Connexion !
                    </button>
                </div>

            </form>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/register.js"></script>
</body>
</html>