@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<address>
    Badr Naiym<br />
    6 Allée du moulin fondu <br />
    93130 Noisy Le Sec <br />
    <abbr title="Phone"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></abbr>
    0661745338
</address>
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">badrnaiym@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@webatrio.com</a>
</address>
