<div class="container">
    <form method="post" asp-controller="Home" asp-action="Create">
        <div class="jumbotron">
            <div class="panel panel-default">
                <div class="panel-heading">Ajouter un Livre</div>
                <div class="panel-body">
                    <div class="input-group" style="padding:10px">
                        <span class="input-group-addon">Titre</span>
                        <input id="titleofbook" class="form-control" aria-describedby="basic-addon1" name="Title" />
                    </div>
                    <div class="input-group" style="padding:10px">
                        <span class="input-group-addon">Auteur</span>
                        <input id="autorofbook" class="form-control" aria-describedby="basic-addon1" name="autor" />
                    </div>
                    <select id="typeofbook" class="form-control" style="padding:15px" name="type">
                        <option>amour</option>
                        <option>action</option>
                        <option>horreur</option>
                        <option>humour</option>
                        <option>fantasme</option>
                    </select>
                </div>
            </div>
        </div>
        <button id="submitformajax" class="btn btn-default">Valider</button>
    </form>
</div>